.Card {
  width: 398; /* XXX: should probably not be a constant, eventually */
  font-size: 11;
  line-height: 1.4;
  background-color: white;
  border-radius: 3;
  overflow: hidden;
  border: 1px solid #e8e8e8;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  transition-property: transform;
  transition-duration: 0.5s;
}

.Exiting {
  transform: scale(0.3);
}
