.LeftEdge {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 20px;
}

.RightEdge {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 20px;
}

.Marker {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #333;
  border-radius: 20px;
}
