:local(.PeerStatus) {
  display: flex;
}

:local(.Status) {
  height: 10px;
  width: 10px;
  border-radius: 99px;
}

:local(.StatusActive) {
  background-color: green;
}

:local(.StatusInactive) {
  background-color: red;
}

:local(.StatusError) {
  background-color: grey;
}

:local(.ConnectionCount) {
  color: darkgrey;
}
