.Current {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.Previous {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.Zoomable {
  position: relative;
  height: 100%;
  width: 100%;
}
