* {
  box-sizing: border-box;
}

.CodeMirror {
  /* Set height, width, borders, and global font properties here */
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 14px;
  direction: ltr;
  max-height: 100%;
  height: auto;
}

/* CodeMirror defines "overflow: scroll !important" on .CodeMirror-scroll.
 * This causes the .CodeMirror-scroll element to trigger pointercancel events
 * whenever a pointerdown/pointermove chain begins on that element (because the
 * browser things it should scroll and cancel the pointer). Override
 * that behavior by setting explicitly setting touch-action.
 */
.CodeMirror .CodeMirror-scroll {
  touch-action: none;
  max-height: 500px;
}

.StrokeLayer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.8;
  pointer-events: none;
  z-index: 100000000;
}

.InkLayer {
  position: fixed;
  padding: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  pointer-events: none;
  z-index: 0;
}

.DebugMessage {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
}
